html body {
  background-image: url('https://raw.githubusercontent.com/chrtravels/sketch-address-book/main/images/park-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  line-height: 1.3;
}

.app-container {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 0px 20px 5px;
}

/* I read it is frowned upon to use !important in this way but I don't have access to the wired-elements css */
.app-container.wired-rendered {
  height: 635px !important;
}

/* TITLE HEADER SECTION */


hr {
  margin-top: 10px;
  margin-right: 15px;
  opacity: 100;
}

h1 {
  margin-bottom: 10px;
  text-align: center;
  padding: 0px 20px;
}

/* Search Header */
#search-field {
  display: inline-block;
  margin-left: 5px !important;
}

.add-address-btn {
  font-size: 20px;
  padding: 5px 15px 5px 5px;
  display: inline-block;
  float: right;
}

/* Use custom fonts */
@font-face {
  font-family: 'KGNoRegretsSketch';
  src: url('./fonts/KGNoRegretsSketch.ttf');
}

h1, h2 {
  font-family: KGNoRegretsSketch;
}

@font-face {
  font-family: 'SketchMeFreeVersion-qxyl';
  src: url('./fonts/SketchMeFreeVersion-qxyl.ttf');
}

h4 {
  font-family: SketchMeFreeVersion-qxyl;
  margin-bottom: 0px;
}

p {
  font-family: SketchMeFreeVersion-qxyl;
  font-size: 24px;
  margin: 10px 0px 10px 15px;
}

/* ADD CONTACT MODAL SECTION */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 48%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  display: inline;
  font-size: 28px;
  font-weight: bold;
  float: right;
}

.modal-header {
  display: inline;
  text-align: center;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Save Button */
.save-btn {
  float: right;
  color: white;
  background-color: #940509;
}

/* CONTACT BODY SECTION */

/* Address Body */
.address-body {
  margin-top: -16px;
  overflow-y: auto;
  max-height: 490px;
  margin-right: 5px;
}

.contact-table {
  width: 100%;
}

/* Alphabet Section Headers A-Z */
.alphabet-header {
  background-color: #d2d2d2;
  padding-left: 10px;
  border-bottom: 1px solid rgb(119, 119, 119);
}

/* Contact Form Styling */
.form-control {
  border: 0px;
  margin-bottom: 15px;
}

#firstName {
  display: inline;
  float: left;
  width: 49%;
}

#lastName {
  display: inline;
  float: right;
  width: 49%;
}

#city {
  display: inline;
  float: left;
  width: 49%;
}

#state {
  display: inline;
  float: left;
  width: 23%;
  margin-left: 10px;
}

#zip {
  display: inline;
  float: right;
  width: 24%;
}

#street {
  width: 100%;
  margin-bottom: 15px;
}

#phone {
  width: 49%;
  margin-bottom: 15px;
}

tr.contact-row {
  border-bottom: 1px solid rgb(119, 119, 119);
}
